<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align titulo">Relatórios Antigos</h3>
        <div class="row">
          <div class="col s12 m6">
            <div class="card hoverable cardAzul">
              <div class="card-content">
                <span class="card-title">REGAP</span>
                <p>Relatório Gerencial de Acompanhamento de Prazos</p>
              </div>
              <div class="card-action linkCard">
                <a href="/julgamento/restrito/escolhe-csv-regap">
                  <i class="material-icons">send</i>
                </a>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card hoverable cardLaranja">
              <div class="card-content ">
                <span class="card-title">Carga</span>
                <p>Acessar versão anterior de Análise da Carga dos Conselheiros</p>
              </div>
              <div class="card-action linkCard">
                <a href="/julgamento/restrito/escolhe-csv">
                  <i class="material-icons">send</i>
                </a>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card hoverable cardPreto">
              <div class="card-content ">
                <span class="card-title">Análise Estoque</span>
                <p>Acessar versão anterior de Análise do Estoque</p>
              </div>
              <div class="card-action linkCard">
                <a href="/julgamento/restrito/escolhe-csv-analiseEstoque">
                  <i class="material-icons">send</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="page-footer rodape"/>
    <app-modal-tabela-legenda/>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda modal-close" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/libs/plotly-latest.min.js"/>
    <script src="/estatico/js/libs/plotly-locale-pt-br.js"/>
    <script>Plotly.setPlotConfig({locale: 'pt-BR'})</script>
  </body>
</html>
