<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/estatico/css/libs/normalize.css"/>
    <link rel="stylesheet" href="/estatico/css/libs/materialize.css"/>
    <link rel="stylesheet" href="/estatico/css/libs/google-fonts.css"/>
    <link rel="stylesheet" href="/estatico/css/libs/tabulator_materialize.min.css"/>
    <link rel="stylesheet" href="/estatico/css/main.css"/>
    <title>Gestão de Pessoas do CARF</title>
  </head>
  <body>
    <header class="container-header cabecalho"/>
    <main class="conteudoPrincipal">
      <ul id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align">Cadastro de Conselheiros do CARF</h3>
        <br/>
        <form id="formCons" data-conselheiros=`${data.conselheiros}` name="formCons" action="/pessoal/restrito/conselheiros/detalha/" method="post">
          <div class="row">
            <div class="col s3 right">
              <a href="#!" id="mostraColunas" class="waves-effect waves-green btn-flat blue ">Agrupar/Desagrupar</a>              
            </div>
            <div class="col s3 right">
            <a href="/pessoal/restrito/conselheiros/cadastra" id="cadastraCons" class="waves-effect waves-yellow btn-flat green">Cadastrar novo Conselheiro</a>
            </div>
            <div id="tabelaCons"/>            
          </div>
        </form>
        </div>
    </main>
    <footer class="page-footer rodape"/>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <script src="/estatico/js/libs/jquery-3.4.1.js"/>
    <script src="/estatico/js/libs/materialize.js"/>
    <script src="/estatico/js/libs/tabulator.min.js"/>
    <script src="/estatico/js/loadtemplate.js"/>
    <script src="/estatico/js/base/navbar.js"/>
    <script src="/estatico/js/pessoal/conselheiros.js"/>
  </body>
</html>
