<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align titulo">${data.conselheiro.nome}</h3>
        <br/>
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3">
                <a href="#tabDados">Dados do Conselheiro</a>
              </li>
              <li class="tab col s3">
                <a href="#tabOcorrencias">Ocorrências do Conselheiro</a>
              </li>
            </ul>
          </div>
          <div id="tabDados" class="col s12">
            <div class="card-panel hoverable blue lighten-5 z-depth-4">
              <div class="row">
                <form id="formCons" class="form-group nome" data-conselheiros=`${data.conselheiro}` name="formCons" action=`/pessoal/restrito/conselheiros/${data.conselheiro.cpf}/` method="post">
                  <h4>Dados Pessoais</h4>
                  <div class="row">
                    <div class="form-group nome input-field col s5">
                      <i class="material-icons prefix">account_circle</i>
                      <input disabled id="nome" name="nome" value=`${data.conselheiro.nome}` type="text" class="validate selectCons"/>
                      <label class="active" for="nome">Nome:</label>
                    </div>
                    <div class="form-group email input-field col s5">
                      <i class="material-icons prefix">contact_mail</i>
                      <input disabled id="email" name="email" value=`${data.conselheiro.email}` type="email" class="validate selectCons"/>
                      <label class="active" for="email">e-mail:</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group cpf input-field col s2">
                      <i class="material-icons prefix">info</i>
                      <input disabled id="cpf" name="cpf" value=`${data.conselheiro.cpf}` type="text" class="validate selectCons"/>
                      <label class="active" for="cpf">CPF:</label>
                    </div>
                    <div class="form-group siape input-field col s2">
                      <i class="material-icons prefix">info_outline</i>
                      <input disabled id="siape" name="siape" value=`${data.conselheiro.siape}` type="text" class="validate selectCons"/>
                      <label class="active" for="siape">Siape:</label>
                    </div>
                    <div class="form-group dtNasc input field col s3">
                      <input disabled id="dtNasc" name="dtNasc" value=`${data.conselheiro.dtNasc}` type="text" class="datepicker selectCons"/>
                      <!-- <i class="material-icons prefix">date_range</i> -->
                      <label for="dtNasc">Data de Nascimento</label>
                    </div>
                    <div class="form-group telefone input-field col s2">
                      <i class="material-icons prefix">contact_phone</i>
                      <input disabled id="telefone" name="telefone" value=`${data.conselheiro.telefone}` type="text" class="validate selectCons"/>
                      <label class="active" for="telefone">Telefone:</label>
                    </div>
                    <div class="form-group celular input-field col s2">
                      <i class="material-icons prefix">phone_iphone</i>
                      <input disabled id="celular" name="celular" value=`${data.conselheiro.celular}` type="text" class="validate selectCons"/>
                      <label class="active" for="celular">Celular:</label>
                    </div>
                  </div>
                  <h4>Dados do Mandato</h4>
                  <div class="row">
                    <div class="form-group input-field unidade col s6">
                      <i class="material-icons prefix">event_seat</i>
                      <select disabled name="unidade" class="selectCons">
                        <option class="form-group" value=`${data.conselheiro.unidade}`>${data.conselheiro.unidade}</option>
                        <for|unidade| of=data.unidades>
                          <option class="form-group" value=`${unidade.unidade}`>${unidade.unidade}</option>
                        </for>
                      </select>
                      <label for="unidade">Turma/Câmara/Seção (formato e-Processo):</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group input-field turma col s4">
                      <i class="material-icons prefix">event_seat</i>
                      <input disabled id="turma" name="turma" value=`${data.conselheiro.turma}` type="text" class="validate selectCons"/>
                      <label class="active" for="turma">Turma (Somente Turmas Ordinárias):</label>
                    </div>
                    <div class="form-group input-field camara col s4">
                      <i class="material-icons prefix">event_seat</i>
                      <input disabled id="camara" name="camara" value=`${data.conselheiro.camara}` type="text" class="validate selectCons"/>
                      <label class="active" for="camara">Turma CSRF/Câmara/Turma Extraordinária:</label>
                    </div>
                    <div class="form-group input-field setor col s4">
                      <i class="material-icons prefix">event_seat</i>
                      <input disabled id="setor" name="setor" value=`${data.conselheiro.setor}` type="text" class="validate selectCons"/>
                      <label class="active" for="setor">Seção:</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group input-field origem col s3">
                      <i class="material-icons prefix">gps_fixed</i>
                      <input disabled id="origem" name="origem" value=`${data.conselheiro.origem}` type="text" class="validate selectCons"/>
                      <label class="active" for="origem">Representação:</label>
                    </div>
                    <div class="form-group tipo input-field col s3">
                      <i class="material-icons prefix">details</i>
                      <select disabled id="tipo" name="tipo" class="selectCons">
                        <option selected class="form-group" value=`${data.conselheiro.origem}`>${data.conselheiro.tipo}</option>
                        <option value="Titular">Titular</option>
                        <option value="Suplente">Suplente</option>
                      </select>
                      <label>Titular/Suplente</label>
                    </div>
                    <div class="form-group input-field funcao col s4">
                      <i class="material-icons prefix">domain</i>
                      <select disabled name="funcao" class="selectCons">
                        <option selected class="form-group" value=`${data.conselheiro.funcao}`>${data.conselheiro.funcao}</option>
                        <for|funcao| of=data.funcoes>
                          <option class="form-group" value=`${funcao.funcao}`>${funcao.funcao}</option>
                        </for>
                      </select>
                      <label for="funcao">Função:</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group input field dtFimMandato col s3">
                      <input disabled id="dtFimMandato" name="dtFimMandato" value=`${data.conselheiro.dtFimMandato}` type="text" class="datepicker selectCons"/>
                      <label for="dtFimMandato">Data do Final do Mandato</label>
                    </div>
                    <div class="form-group input-field col s3">
                      <i class="material-icons prefix">event_note</i>
                      <select disabled id="mandatoAt" name="mandatoAt" class="selectCons">
                        <option selected value=`${data.conselheiro.mandatoAt}`>${data.conselheiro.mandatoAt}</option>
                        <option value=true>Sim</option>
                        <option value=false>Não</option>
                      </select>
                      <label>Mandato Ativo?</label>
                    </div>
                  </div>
                  <div class="card-action right-align">
                    <a class="btn-cons-edita btn-floating red waves-effect waves-light hoverable z-depth-3" title="Editar Dados">
                      <i class="material-icons">edit</i>
                    </a>
                    <a disabled class="btn-cons-salva btn-floating blue waves-effect waves-light hoverable z-depth-3" type="submit" title="Salvar">
                      <i class="material-icons">save</i>
                    </a>
                    <a id="aModal" class="btn-cons-adiciona btn-floating green waves-effect waves-light hoverable z-depth-3" title="Adicionar ocorrência" href="#modal1">
                      <i class="material-icons">add</i>
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div id="tabOcorrencias" class="col s12">
            <a id="aModal2" class="btn-cons-adiciona2 btn-floating green waves-effect waves-light hoverable z-depth-3 right" title="Adicionar ocorrência" href="#modal1">
              <i class="material-icons">add</i>
            </a>
            <h3 class="center-align">Ocorrências do Conselheiro</h3>
            <if(data.ocorrencias)>
              <div id="tabelaOcorrencias" data-ocorrencias=`${data.ocorrencias}`/>
            </if>
          </div>
        </div>
        <div/>
      </div>
    </main>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Inclusão de Ocorrência</h4>
        <p class="pModal">
          <form id="formOcorrencia" data-tipoOcorrencias=`${data.tipoOcorrencias}` name="formOcorrencia" action=`/pessoal/restrito/conselheiros/${data.conselheiro.cpf}/ocorrencia` method="post">
            <div id="editaDiv"/>
            <div class="row">
              <br/>
            </div>
            <input hidden id="cpfOcorrencia" name="cpf" value=`${data.conselheiro.cpf}` type="text"/>
            <div class="row">
              <div class=" input-field col s4">
                <i class="material-icons prefix">border_color</i>
                <select name="tipoOcorrencia">
                  <for|ocorrencia| of=data.tipoOcorrencias>
                    <option class="form-group" value=`${ocorrencia.tipoOcorrencia}`>${ocorrencia.tipoOcorrencia}</option>
                  </for>
                </select>
                <label for="tipoOcorrencia">Selecione o tipo de ocorrência:</label>
              </div>
            </div>
            <div class="row">
              <br/>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea name="ocorDet" id="ocorDet" class="materialize-textarea" placeholder="Este campo aceita <ENTER>. Descreva aqui o nº da Portaria, Detalhes da notificação (arts do RICARF), nº do processo, nº SEI etc."/>
                <label for="ocorDet">Detalhes da Ocorrência:</label>
              </div>
            </div>
            <div class="row">
              <br/>
            </div>
            <div class="row">
              <div class="input field col s3">
                <i class="material-icons prefix">insert_invitation</i>
                <input id="dtOcorrencia" name="dtOcorrencia" value="" type="text" class="datepicker"/>
                <label for="dtOcorrencia">Data da Ocorrência</label>
              </div>
              <div class="col s2">
                <div class="form-group">
                  <p>
                    <label>Altera a data de início de mandato?</label>
                  </p>
                  <p>
                    <label>
                      <input class="with-gap" value="Sim" name="alteradtFimMandato" type="radio" checked/>
                      <span>Sim</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input class="with-gap" value="Não" name="alteradtFimMandato" type="radio"/>
                      <span>Não</span>
                    </label>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="modal-close btn waves-effect waves-light concordaOco" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4 class="hModal2">Modal Header</h4>
        <p class="pModal2"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn modal-close waves-effect waves-light concorda" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/pessoal/conselheiro.js"/>
  </body>
</html>
