<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align titulo">Lista de Não Conformidades</h3>
        <form data-nc=`${data.nc}`/>
        <div data-msg=`${data.msg}`/>
        <div class="row">
            <div class="col s12 right-align">
        <a class="btn-floating waves-effect waves-light green addListaNC right" title='Adicionar Tipo de Não Conformidade' href="/qualidade/restrito/cadastra-nc">
          <i class="material-icons">add</i></a>
          <app-drop-download/>
          </div>
          </div>
        <div id="tabelaNC"/>
      </div>
    </main>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancela</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat concorda">Confirma</a>
      </div>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/nc/gestaoNC.js"/>
  </body>
</html>
