<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div id="caixa" class="container">
        <h3 class="center-align titulo">Relatório Gerencial de Indicação para Pauta</h3>
        <br/>
        <div id="idProdutividade" data-indicacoes=`${data.indicacoes}` data-solicitacoes=`${data.solicitacoes}`/>
        <div class="row">
          <p>
            <h4>Produtividade Trimestral</h4>
          </p>
          <div class="col s12 m12">
            <div class="card hoverable cardVermelho">
              <!-- <div class="card-content">
                <span class="card-title center">ATENÇÃO</span>
                Os dados de produtividade do 3º trimestre de 2021 se referem somente às horas computadas em Solicitações de Redução de Meta.
              </div> -->
            </div>
          </div>
          <div class="row">
            <div id="anosReinp"/>
          </div>
          <div class="row">
            <div class="col s12 m3">
              <div class="card hoverable cardAzul">
                <div class="card-content">
                  <span class="card-title center" id="horas1T"/>
                  1º Trimestre
                </div>
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card hoverable cardLaranja">
                <div class="card-content ">
                  <span class="card-title center" id="horas2T"/>
                  2º Trimestre
                </div>
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card hoverable cardVerde">
                <div class="card-content ">
                  <span class="card-title center" id="horas3T"/>
                  3º Trimestre
                </div>
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card hoverable cardFuchsia">
                <div class="card-content ">
                  <span class="card-title center" id="horas4T"/>
                  4º Trimestre
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <h5>Extrato de Horas</h5>
            <div id="extratoREINP"/>
          </div>
          <div class="row">
            <div class="col s6">
              <div id="barrasReinpMensal"/>
            </div>
            <div class="col s6">
              <div id="barrasReinpTrimestral"/>
            </div>
          </div>
          <p>
            <h4>Processos e Solicitações</h4>
          </p>
          <div class="row">
            <div class="col s12 right-align">
              <app-drop-download/>
              <a href="#!" id="agrupaMes" title="Agrupar/Desagrupar por Mês" class="waves-effect waves-yellow hoverable z-depth-3 btn-floating blue">
                <i class="material-icons">unfold_less</i>
              </a>
            </div>
          </div>
          <div class="row">
            <div id="tabelaReinpDet"/>
          </div>
        </div>
      </div>
    </main>
    <footer class="page-footer rodape"/>
    <app-modal-tabela-legenda/>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/libs/plotly-latest.min.js"/>
    <script src="/estatico/js/libs/plotly-locale-pt-br.js"/>
    <script>Plotly.setPlotConfig({locale: 'pt-BR'})</script>
    <script src="/estatico/js/julgamento/conselheiros/novoreinp.js"/>
  </body>
</html>
