<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div id="caixa" class="container">
        <h3 class="center-align titulo ">
          <strong>
  Cons.
            <span class="nomeSol">${data.user.nome}</span>
          </strong> - ${data.user.tipo}
        </h3>
        <div class="row">
          <div class="col s12">
            <p>
              <h6>
                <strong>CPF:</strong>
                <span id="cpfCons">${data.user.cpf}</span>
              </h6>
            </p>
            <p>
              <h6>
                <strong>Turma:</strong> ${data.user.unidade}
              </h6>
            </p>
            <p>
              <h6>
                <strong>Final do Mandato:</strong> ${data.user.dtFimMandato}
              </h6>
            </p>
            <p>
              <h6>
                Falta(m) <strong><span id="daps"/></strong> dia(s) para a próxima sessão, que será realizada em <strong><span id="ps"/></strong>.
              </h6>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s2">
                <a href="#processos">Processos - REGAP</a>
              </li>
              <li class="tab col s3">
                <a href="#produtividade">Produtividade - REINP</a>
              </li>
              <li class="tab col s3">
                <a href="#stats">Gráficos - REGAP e REINP</a>
              </li>
              <li class="tab col s2">
                <a href="#ocorrencias">Ocorrências</a>
              </li>
              <li class="tab col s2">
                <a href="#solicitacoes">Solicitações</a>
              </li>
            </ul>
          </div>
          <div id="processos" class="col s12">
            <div class="row">
              <br/>
              <div id="dataCAL" data-cal=`${data.cal}`/>
              <div class="form-group input-field  col s3">
                <select class="dataRelRegap" name="dataRelRegap" id="dataRelRegap">
                  <option class="form-group" value=`` disabled selected>Clique para selecionar</option>
                  <for|dado| of=data.dados>
                    <option class="form-group" value=`${dado.id}`>${dado.dtExtracao}</option>
                  </for>
                </select>
                <label>Selecione a data do relatório:</label>
              </div>
              <div class="form-group input-field  col s3">
                <select class="Atividade" name="atividadeSelect" id="atividadeSelect">
                  <option class="form-group" value="Todas" selected>Todas</option>
                  <option class="form-group" value="Para Relatar">Para Relatar</option>
                  <option class="form-group" value="Formalizar Decisao">Formalizar Decisão</option>
                  <option class="form-group" value="Formalizar Voto Vencedor">Formalizar Voto Vencedor</option>
                  <option class="form-group" value="Corrigir Decisão">Corrigir Decisão</option>
                  <option class="form-group" value="Apreciar e Assinar Documento">Apreciar e Assinar Documento</option>
                </select>
                <label>Selecione a atividade para filtrar:</label>
              </div>
              <div class="form-group input-field  col s2">
                <label>
                  <input name="expandirCheck" id="expandirCheck" type="checkbox"/>
                  <span>Expandir Tabela</span>
                </label>
              </div>
              <div class="form-group input-field  col s2">
                <label>
                  <input name="repetitivosCheck" id="repetitivosCheck" type="checkbox"/>
                  <span>Ocultar Repetitivos</span>
                </label>
              </div>
              <div class="form-group input-field  col s2">
                <label>
                  <input name="aguardandoPauta" id="aguardandoPauta" type="checkbox"/>
                  <span>Somente "Aguardando Pauta"?</span>
                </label>
              </div>
              <div class="form-group input-field  col s2">
                <label>
                  <input name="abaixoUM" id="abaixoUM" type="checkbox"/>
                  <span>Somente Abaixo de R$ 8 milhões??*</span>
                </label>
              </div>
              <div class="progressRegap col s3">
                <div class="preloader-wrapper small active">
                  <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                      <div class="circle"/>
                    </div>
                    <div class="gap-patch">
                      <div class="circle"/>
                    </div>
                    <div class="circle-clipper right">
                      <div class="circle"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="" class="row classProcessos">
              <div class="col s12 right-align">
                <a class="dropdownDownloadCons waves-effect waves-yellow hoverable z-depth-3 btn-floating red" href="#" data-target="dropdownRegap">
                  <i class="material-icons">file_download</i>
                </a>
                <ul id="dropdownRegap" class="dropdown-content">
                  <li class="divider" tabindex="-1"/>
                  <li>
                    <a class="xlsxDownRegap" href="#!">
                      <i class="xlsxDownRegap material-icons">file_download</i>XLSX
                    </a>
                  </li>
                  <li class="divider" tabindex="-1"/>
                  <li>
                    <a class="csvDownRegap" href="#!">
                      <i class="csvDownRegap material-icons">file_download</i>CSV
                    </a>
                  </li>
                  <li class="divider" tabindex="-1"/>
                </ul>
                <a href="#!" id="mostraColunasAtividade" title="Agrupar/Desagrupar por Atividade" class="waves-effect waves-yellow hoverable z-depth-3 btn-floating blue">
                  <i class="material-icons">unfold_less</i>
                </a>
                <a href="#modal2" id="mostraLegenda" title="Mostrar Legenda da Tabela" class="waves-effect waves-purple hoverable z-depth-3 btn-floating black">
                  <i class="material-icons">details</i>
                </a>
              </div>
            </div>
            <div id="tabelaRegap"/>
            <p>
              * <strong>ATENÇÃO:</strong> O campo "Valor Originário" é extraído diretamente do e-Processo e não leva em consideração outros fatores que possam alterar o valor a ser considerado para indicação. Dessa forma, para casos concretos, deverão ser somadas a esse valor outras informações, nos termos das <strong>orientações para indicação de pauta</strong>.
            </p>
          </div>
          <div id="produtividade">
            <br/>
            <div id="idProdutividade" data-reinp=`${data.reinp}`/>
            <br/>
            <br/>
            <br/>
            <p>
              <h4>Produtividade Trimestral</h4>
            </p>
            <p class="red white-text" style="font-size:1.5em;">
              <strong>ATENÇÃO:</strong>
              A DIPAJ tem ciência de que os dados do REINP não estão refletindo os valores corretos da produtividade dos Conselheiros.
              <br/>
              <br/>
              <strong>Todos</strong>
              os dados estão sendo verificados
              <strong>manualmente</strong>
              e os valores incorretos
              <strong>não serão utilizados</strong>
              para qualquer fim.
              <br/>
              <br/>Ao
              <strong>término</strong>
              do processo de análise, a DIPAJ informará todos os conselheiros por e-mail.
              <br/>
              <br/>Nesse ínterim,
              <strong>favor não enviar</strong>
              mensagens para a DIPAJ informando dos erros no relatório.
            </p>
            <div class="row">
              <div id="tabelaReinp"/>
            </div>
            <p>
              <h4>Processos</h4>
            </p>
            <div class="row">
              <div class="col s12 right-align">
                <a class="dropdownDownloadCons waves-effect waves-yellow hoverable z-depth-3 btn-floating red" href="#" data-target="dropdownReinp">
                  <i class="material-icons">file_download</i>
                </a>
                <ul id="dropdownReinp" class="dropdown-content">
                  <li class="divider" tabindex="-1"/>
                  <li>
                    <a class="xlsxDownReinp" href="#!">
                      <i class="xlsxDownReinp material-icons">file_download</i>XLSX
                    </a>
                  </li>
                  <li class="divider" tabindex="-1"/>
                  <li>
                    <a class="csvDownReinp" href="#!">
                      <i class="csvDownReinp material-icons">file_download</i>CSV
                    </a>
                  </li>
                  <li class="divider" tabindex="-1"/>
                </ul>
                <a href="#!" id="agrupaMes" title="Agrupar/Desagrupar por Mês" class="waves-effect waves-yellow hoverable z-depth-3 btn-floating blue">
                  <i class="material-icons">unfold_less</i>
                </a>
              </div>
            </div>
            <div class="row">
              <div id="tabelaReinpDet"/>
            </div>
          </div>
          <div id="stats" class="col s12">
            <div class="row classProcessos">
              <h4>Carga Horária de processos por atividade:</h4>
              <div class="col s8">
                <div id="barrasAtividade"/>
              </div>
            </div>
            <div class="row">
              <h4>Produtividade Mensal e Trimestral:</h4>
            </div>
            <div class="row">
              <div class="col s6">
                <div id="barrasReinpMensal"/>
              </div>
              <div class="col s6">
                <div id="barrasReinpTrimestral"/>
              </div>
            </div>
          </div>
          <div id="ocorrencias" class="col s12">
            <br/>
            <div class="row">
              <div id="tabelaOcorrencias" data-ocorrencias=`${data.ocorrencias}`/>
            </div>
          </div>
          <div id="solicitacoes" class="col s12">
            <br/>
            <div class="row">
              <div class="col s1 offset-s11">
                <a id="btnSolModal" class="btn-floating green waves-effect waves-light hoverable z-depth-3 right" title="Fazer nova solicitação" href="#solModal">
                  <i class="material-icons">add</i>
                </a>
              </div>
            </div>
            <br/>
            <div class="row">
              <div id="tabelaSolicitacoes" data-tpSol=`${data.tpSol}` data-solicitacoes=`${data.solicitacoes}`/>
            </div>
            <!--Modal Structure-->
            <div id="solModal" class="modal modal-fixed-footer">
              <div class="modal-content">
                <h4 class="hSModal">Inclusão de Solicitação</h4>
                <div class="pSModal">
                  <div class="row">
                    <div class="col s7">
                      <h5>Tipo de Solicitação</h5>
                      <label for="tipoSolicitacao">Selecione o tipo de solicitação:</label>
                      <select required name="tipoSolicitacao" id="tipoSolicitacao">
                        <option class="form-group" value=`` disabled selected>Clique para selecionar</option>
                        <for|sol| of=data.tpSol>
                          <option class="form-group" value=`${sol.tipoSolicitacao}`>${sol.tipoSolicitacao}</option>
                        </for>
                      </select>
                      <label for="tipoSolicitacao">Selecione o tipo de solicitação:</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12">
                      <span id="divTipo"/>
                    </div>
                  </div>
                  <div class="row valign-wrapper">
                    <div id="enviaArq" class="col s6 valign-wrapper"/>
                    <div id="mostraArq" class="col s6">
                      <ul class="collection arqsUp"/>
                    </div>
                  </div>
                  <blockquote>
                    <strong>Importante:</strong>
                    Os afastamentos são aplicáveis
                    <strong>apenas</strong>
                    para efeitos de cálculo das
                    <strong>Metas de Produtividade</strong>.<br/>
                    Dúvidas relativas aos
                    <strong>efeitos financeiros</strong>
                    devem ser tratadas diretamente com a
                    <strong>COGEC</strong>.
                  </blockquote>
                </div>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
                <button class="btn waves-effect waves-light concorda modal-close">
                  Confirma <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="page-footer rodape"/>
    <app-modal-tabela-legenda/>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda modal-close" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/libs/plotly-latest.min.js"/>
    <script src="/estatico/js/libs/plotly-locale-pt-br.js"/>
    <script>Plotly.setPlotConfig({locale: 'pt-BR'})</script>
    <script src="/estatico/js/libs/quill.min.js"/>
    <script src="/estatico/js/julgamento/paginadoconselheiro.js"/>
  </body>
</html>
