<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div id="caixa" class="container">
        <div id="dataCAL" data-cal=`${data.cal}`/>
        <h3 class="center-align titulo">Relatório Gerencial de Acompanhamento de Prazos</h3>
        <br/>
        <h6/>
        <div class="col s12 m12">
          <div class="card hoverable cardAzul">
            <div class="card-content">
              Falta(m) <strong><span id="daps"/></strong> dia(s) para a próxima sessão, que será realizada em <strong><span id="ps"/></strong>.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3">
                <a href="#processos">Processos</a>
              </li>
              <li id="stata" class="tab col s3">
                <a href="#stats">Estatísticas</a>
              </li>
              <li class="tab col s3">
                <a href="#apes749">Apuração Especial nº 749</a>
              </li>
            </ul>
          </div>
          <div id="processos" class="col s12">
            <br/>
            <div class="row">
              <div class="form-group input-field  col s3">
                <select class="dataRelRegap" name="dataRelRegap" id="dataRelRegap">
                  <option id="optionsRegap" class="form-group" value=`` disabled selected>Clique para selecionar</option>
                </select>
                <label>Selecione a data do relatório:</label>
              </div>
              <div class="form-group input-field  col s3">
                <select class="Atividade" name="atividadeSelect" id="atividadeSelect">
                  <option class="form-group" value="Todas" selected>Todas</option>
                  <option class="form-group" value="Para Relatar">Para Relatar</option>
                  <option class="form-group" value="Formalizar Decisao">Formalizar Decisão</option>
                  <option class="form-group" value="Formalizar Voto Vencedor">Formalizar Voto Vencedor</option>
                  <option class="form-group" value="Corrigir Decisão">Corrigir Decisão</option>
                  <option class="form-group" value="Apreciar e Assinar Documento">Apreciar e Assinar Documento</option>
                </select>
                <label>Selecione a atividade para filtrar:</label>
              </div>
            </div>
            <div class="row">
              <div class="form-group input-field  col s2">
                <label>
                  <input name="apes749Check" id="apes749Check" type="checkbox"/>
                  <span>Somente APES749</span>
                </label>
              </div>
              <div class="form-group input-field  col s2">
                <label>
                  <input name="expandirCheck" id="expandirCheck" type="checkbox"/>
                  <span>Expandir Tabela</span>
                </label>
              </div>
              <div class="form-group input-field  col s2">
                <label>
                  <input name="repetitivosCheck" id="repetitivosCheck" type="checkbox"/>
                  <span>Ocultar Repetitivos</span>
                </label>
              </div>
              <div class="form-group input-field  col s2">
                <label>
                  <input name="aguardandoPauta" id="aguardandoPauta" type="checkbox"/>
                  <span>Somente "Aguardando Pauta"?</span>
                </label>
              </div>
              <app-valor-maximo/>
              <div class="col s4"/>
              <div class="form-group input-field  col s2">
                <label>
                  <input name="juntadaCheck" id="juntadaCheck" type="checkbox"/>
                  <span>Solicitação de Juntada Pendente?</span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 right-align">
                <app-drop-download/>
                <a href="#!" id="mostraColunasAtividade" title="Agrupar/Desagrupar por Atividade" class="waves-effect waves-green hoverable z-depth-3 btn-floating blue">
                  <i class="material-icons">unfold_less</i>
                </a>
                <a href="#!" id="agrupaData" title="Agrupar/Desagrupar por Data de Distribuição" class="waves-effect waves-green hoverable z-depth-3 btn-floating grey">
                  <i class="material-icons">unfold_less</i>
                </a>
                <a href="#modal2" id="mostraLegenda" title="Mostrar Legenda da Tabela" class="waves-effect waves-purple hoverable z-depth-3 btn-floating black">
                  <i class="material-icons">details</i>
                </a>
              </div>
            </div>
            <div id="tabelaRegap"/>
            <p>
              <div class="col s12 m12">
                <div class="card hoverable cardVermelho">
                  <div class="card-content">
                    <span class="card-title center">ATENÇÃO</span>
                    <a id="oitomilhoes"/>* O campo "Valor Originário" é extraído diretamente do e-Processo e não leva em consideração outros fatores que possam alterar o valor a ser considerado para indicação. Dessa forma, para casos concretos, deverão ser somadas a esse valor outras informações, nos termos das
                    <strong>orientações para indicação de pauta</strong>.
                  </div>
                </div>
              </div>
            </p>
          </div>
          <div id="stats" class="col s12">
            <h4>Quantidade de processos por atividade:</h4>
            <div class="row">
              <div class="s12" style="width:100%;" id="barrasAtividade"/>
            </div>
          </div>
          <div id="apes749" class="col s12">
            <h4 id="gerApes749" class="center">Gerencial Apuração Especial 749</h4>
            <div class="row">
              <div class="row">
                <div class="col s12 right-align">
                  <a href="#!" id="mostraColunasAtividadeApes" title="Agrupar/Desagrupar por Atividade" class="waves-effect waves-green hoverable z-depth-3 btn-floating blue">
                    <i class="material-icons">unfold_less</i>
                  </a>
                  <a href="#!" id="xlsxDownApes" title="Download da Tabela" class="waves-effect waves-yellow hoverable z-depth-3 btn-floating red">
                    <i class="material-icons">file_download</i>
                  </a>
                </div>
              </div>
              <p>
                <div id="tabelaApes"/>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="page-footer rodape"/>
    <app-modal-tabela-legenda/>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/libs/plotly-latest.min.js"/>
    <script src="/estatico/js/libs/plotly-locale-pt-br.js"/>
    <script>Plotly.setPlotConfig({locale: 'pt-BR'})</script>
    <script src="/estatico/js/julgamento/helpers/configTabelaNovoRegap.js"/>
    <script src="/estatico/js/julgamento/conselheiros/regap.js"/>
  </body>
</html>
