<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align titulo">Registro de Solicitação</h3>
        <div id="dataCAL" data-cal=`${data.cal}`/>
        <div id="dataUser" data-user=`${data.user}`/>
        <div class="row">
          <div class="col s12 m12">
            <div class="card hoverable cardAzul">
              <div class="card-content">
                <span class="card-title">Orientações:</span>
                <ul>
                  <li>
                    <i class="fas fa-bullhorn"/> As solicitações que constem afastamentos para redução de meta e justificativa de suspensão de prazos e faltas à sessões de julgamento deverão ser efetuadas <strong>após</strong> transcorrido o evento.
                    Caso sejam efetuadas antes do evento, serão <strong>rejeitadas</strong>.
                  </li>
                  <li>
                    <i class="fas fa-bullhorn"/> As solicitações de Dispensa de Sorteio só poderão ser enviadas caso o somatório total seja maior ou igual a 126 horas.
                  </li>
                  <li>
                    <i class="fas fa-bullhorn"/> Retornos de Diligência e Retorno de Embargos não são considerados como horas excedentes para fins de Dispensa de Sorteio.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <ul id="classesSol" class="collapsible popout col s6 m12">
            <li>
              <div class="collapsible-header">
                <i class="fas fa-calendar-plus"/>REGAP - Justificar Suspensão de Prazos Regimentais
              </div>
              <div class="collapsible-body">
                <div class="collection">
                  <a href="#!" id="aflp" class="collection-item">Afastamentos e Licenças</a>
                  <a href="#!" id="ora" class="collection-item">Processo Objeto de Retificação de Ata</a>
                  <a href="#!" id="pvv" class="collection-item">Prorrogação de Voto Vencedor - Autorizado pelo Presidente de Turma - art. 45, §1º, inciso II do RICARF</a>
                  <a href="#!" id="ppa" class="collection-item">Prorrogação de Prazo autorizada pela Presidência do CARF - art. 45, §1º, inciso II, item b do RICARF</a>
                  <a href="#!" id="dpa" class="collection-item">Justificativa para deixar de praticar de ato processual - Art. 45, IV RICARF</a>
                  <a href="#!" id="ppi" class="collection-item">Demais Suspensões Autorizadas pela COJUL</a>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="fas fa-level-down-alt"/>REINP - Redução de Horas da Meta de Produtividade
              </div>
              <div class="collapsible-body">
                <div class="collection">
                  <a href="#!" id="aflm" class="collection-item">Afastamentos e Licenças</a>
                  <a href="#!" id="ptoa" class="collection-item">Participação em sessão TO/CSRF a partir de abril de 2020</a>
                  <a href="#!" id="pptex" class="collection-item">Participação em sessão presencial ou virtual de TEX para sustentação oral</a>
                  <a href="#!" id="acp" class="collection-item">Não cumprimento da meta por ausência de carga de processo</a>
                  <a href="#!" id="s21" class="collection-item">1º sorteio com prazo inferior a 21 dias da Indicação para Pauta</a>
                  <a href="#!" id="presi" class="collection-item">Assumir interinamente Presidência de Turma por no mínimo um mês</a>
                  <a href="#!" id="mcc" class="collection-item">Mudança de Colegiado que implique em alteração do calendário da sessão de julgamento</a>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="fas fa-list-ul"/>Dispensa de Sorteio
              </div>
              <div class="collapsible-body">
                <div class="collection">
                  <a href="#!" id="dds" class="collection-item">Dispensa de Sorteio</a>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="fas fa-clinic-medical"/>Justificativa de Faltas e Controle da COGEC
              </div>
              <div class="collapsible-body">
                <div class="collection">
                  <a href="#!" id="fsj" class="collection-item">Justificar Faltas à Sessões de Julgamento</a>
                  <a href="#!" id="atc" class="collection-item">Licenças e Afastamentos para Controle da COGEC</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="row">
          <span id="camposSol" style="display: none;"/>
        </div>
      </div>
    </main>
    <footer class="page-footer rodape"/>
    <app-modal-tabela-legenda/>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda modal-close" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <app-footer/>
    <app-modal/>
    <app-scripts-js/>
    <script src="/estatico/js/libs/plotly-latest.min.js"/>
    <script src="/estatico/js/libs/plotly-locale-pt-br.js"/>
    <script>Plotly.setPlotConfig({locale: 'pt-BR'})</script>
    <script src="/estatico/js/libs/quill.min.js"/>
    <script src="/estatico/js/julgamento/conselheiros/regsolicitacoes.js"/>
  </body>
</html>
