<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align titulo">Registro de Solicitação</h3>
        <div id="dataCAL" data-cal=`${data.cal}`/>
        <div class="row">
          <div class="col s12 m12">
            <div class="card hoverable cardAzul">
              <div class="card-content">
                <span class="card-title">Orientações:</span>
                As solicitações que constem afastamentos para redução de meta e justificativa de suspensão de prazos e faltas à sessões de julgamento deverão ser efetuadas
                <strong>após</strong>
                transcorrido o evento. 
                Caso sejam efetuadas antes do evento, serão
                <strong>rejeitadas</strong>.
              </div>
            </div>
          </div>
          <ul class="collapsible col s6 m6">
            <li>
              <div class="collapsible-header">
                <i class="material-icons">filter_drama</i>REGAP - Justificar Suspensão de Prazos Regimentais
              </div>
              <div class="collapsible-body">
                <span>Afastamentos e licenças</span>
                <br/>
                <span>Prorrogação de Voto Vencedor -  art. 45, §1º, inciso II do RICARF</span>
                <br/>
                <span>Prorrogação de Prazo de Processo de Imunidade</span>
                <br/>
                <span>Prorrogação de Prazo autorizada pela Presidência do CARF - art. 45, §1º, inciso II, item b do RICARF</span>
                <br/>
                <span>Justificativa para deixar de praticar de ato processual (Art. 45, IV RICARF)</span>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">place</i>REINP - Redução de Horas da Meta de Produtividade
              </div>
              <div class="collapsible-body">
                <span>Afastamentos e licenças</span>
                <br/>
                <span>Mudança de Colegiado que implique em alteração do calendário da sessão de julgamento</span>
                <br/>
                <span>Não cumprimento da meta por ausência de carga de processo</span>
                <br/>
                <span>1º sorteio com prazo inferior a 21 dias da indicação</span>
                <br/>
                <span>Assumir interinamente presidência de turma por no mínimo um mês</span>
                <!-- data do sorteio e data da indicação-->
                <br/>
                <span>Participação em sessão TO/CSRF a partir de abril de 2020</span>
                <br/>
                <span>Participação em sessão presencial ou virtual de TEX para sustentação oral</span>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">whatshot</i>Dispensa de Sorteio
              </div>
              <div class="collapsible-body">
                <div class="collection">
                  <a href="#!" class="collection-item">Excesso de Horas em Lotes de Sorteio</a>
                  <a href="#!" class="collection-item">Distribuição de processos reflexos ou decorrentes</a>
                  <a href="#!" class="collection-item ">Formalização de Voto Vencedor</a>
                  <a href="#!" class="collection-item">Participação em TO/CSRF de março de 2019 até março de 2020</a>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">whatshot</i>Outras solicitações
              </div>
              <div class="collapsible-body">
                <span>Justificar faltas à sessões de julgamento</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <footer class="page-footer rodape"/>
    <app-modal-tabela-legenda/>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda modal-close" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/libs/plotly-latest.min.js"/>
    <script src="/estatico/js/libs/plotly-locale-pt-br.js"/>
    <script>Plotly.setPlotConfig({locale: 'pt-BR'})</script>
    <script src="/estatico/js/libs/quill.min.js"/>
    <script src="/estatico/js/julgamento/conselheiros/regsolicitacoes.js"/>
  </body>
</html>
