<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align titulo">Visualização da Indicação para Pauta</h3>
        <br/>
        <div class="row conteudoPrincipal"/>
        <br/>
        <div class="row">
          <h4 id="h4Periodo">
            Período de Indicação:
            <span id="periodoIndica"/>
          </h4>
          <h5 id="h5Periodo" class="white-text">
            Para este período foram indicados <strong><span id="qtdeProc"/></strong> processos, perfazendo um total de <strong><span id="somaHE"/></strong> horas CARF.
          </h5>
        </div>
        <!-- <div class="row">
          <p id="pautaAberta"/>
          <a id="botaoIndicaPauta" class="waves-effect waves-light btn-large right">
            <i class="fas fa-arrow-alt-circle-right right"/>Indicar Processos para Pauta
          </a>
        </div> -->
        <div class="row">
          <div class="col s12 right-align">
            <div class="row">
              <app-drop-download/>
            </div>
            <div id="tabelaIndicacao" data-indicacao=`${data.indicacao}`/>
          </div>
        </div>
        <div class="row">
          <div id="cardsColegiados"/>
        </div>
      </div>
    </main>
    <app-footer/>
    <app-modal/>
    <app-scripts-js/>
    <script src="/estatico/js/libs/plotly-latest.min.js"/>
    <script src="/estatico/js/libs/plotly-locale-pt-br.js"/>
    <script>Plotly.setPlotConfig({locale: 'pt-BR'})</script>
    <script src="/estatico/js/julgamento/helpers/configTabelaNovoRegap.js"/>
    <script src="/estatico/js/julgamento/conselheiros/paginaVisualizaIndicacao.js"/>
  </body>
</html>
