<!DOCTYPE html>
<html>
<app-scripts-css/>
  <body>
    <app-header />  
    <main class="conteudoPrincipal">
    <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align">Registrar Nova Não Conformidade</h3>
        <br/>
        <br/>
        <form id="formCadNC" name="formCadNC" action="/gestao/cadastranc" method="post">
          <div class="row">
            <if (data.cadastraNC[0]._id)>
              <div>
                <input type="hidden" name="_method" value="PUT"/>
                <input type="hidden" name="_id" value=`${data.cadastraNC[0]._id}`/>
              </div>
            </if>
            <div class="form-group input-field Macroprocesso col s6">
              <select required name="Macroprocesso">
                <option class="form-group" value="" disabled selected>Clique para selecionar</option>
                <for|mp| of=data.mp>
                  <option class="form-group" value=`${mp.macroprocesso}`>${mp.macroprocesso}</option>
                </for>
              </select>
              <label for="mProcUser">Esta NC pertence a qual macroprocesso?</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group input-field cpfUser col s12">
              <label for="nconformidade">Tipologia (descrição) da Não Conformidade:</label>
              <textarea required type="text" id="nconformidade" name="nconformidade" value=`${data.cadastraNC[0].nconformidade}` class="form-control materialize-textarea nconformidade alturaTextArea"/>
            </div>
          </div>
          <div class="row">
            <div class="form-group input-field descDet col s12">
              <label for="descDet">
                Descrição detalhada da <strong>não conformidade:</strong>
              </label>
              <textarea required type="text" id="descDet" name="descDet" value=`${data.cadastraNC[0].descDet}` class="form-control materialize-textarea descDet alturaTextArea"/>
            </div>
            <div class="col s6 offset-s6">
              <a id="aModal" class="btn-floating btn-large waves-effect waves-light green hoverable btn-insere" href="#modal1">
                <i class="material-icons">note_add</i>
              </a>
            </div>
          </div>
        </form>
      </div>
    </main>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/nc/cadNCControl.js"/>
  </body>
</html>
