<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/estatico/css/libs/normalize.css"/>
    <link rel="stylesheet" href="/estatico/css/libs/materialize.css"/>
    <link rel="stylesheet" href="/estatico/css/libs/google-fonts.css"/>
    <link rel="stylesheet" href="/estatico/css/main.css"/>
    <title>Lista de Não Conformidades</title>
  </head>
  <body>
    <header class="container-header cabecalho"/>
    <main class="conteudoPrincipal">
      <div class="container">
        <div class="row">
          <h3 class="center-align">Lista de Não Conformidades</h3>
          <table class="striped centered highlight z-depth-3 responsive-table">
            <thead>
              <tr>
                <th>Macroprocesso</th>
                <th>Não conformidade</th>
                <th>Descrição detalhada</th>
              </tr>
            </thead>
            <tbody>
              <for|nc| of=data.nc>
                <tr id=`${nc._id}`>
                  <td class="mp">${nc.Macroprocesso}</td>
                  <td class="desc">${nc.nconformidade}</td>
                  <td class="descDet">${nc.descDet}</td>
                </tr>
              </for>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <footer class="rodape"/>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal">A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancela</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat concorda">Confirma</a>
      </div>
    </div>
    <script src="/estatico/js/jquery-3.4.1.js"/>
    <script src="/estatico/js/materialize.js"/>
    <script src="/estatico/js/loadtemplate.js"/>
    <script src="/estatico/js/formcontrol.js"/>
  </body>
</html>
