<!DOCTYPE html>
<html>
<app-scripts-css/>
  <body>
    <app-header />
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <div class="row">
          <h3 class="center-align">Lista de Não Conformidades</h3>
            <form data-nc=`${data.nc}`/>
            <div id="tabelaNC"/>         
        </div>
      </div>
    </main>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal">A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancela</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat concorda">Confirma</a>
      </div>
    </div>
 <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/nc/listagem.js"/>
  </body>
</html>
