<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align titulo">Cadastrar Usuário</h3>
        <br/>
        <div class="card-panel hoverable blue lighten-5 z-depth-4 col s9">
          <div class="row">
            <form id="formCadPess" name="formCons" action=`/pessoal/restrito/pessoas/cadastra/` method="post">
              <h4>Dados Pessoais</h4>
              <div class="row">
                <div class="input-field col s5">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="nome" name="nome" value=`` type="text" class="validate"/>
                  <label class="active" for="nome">Nome:</label>
                </div>
                <div class="input-field col s5">
                  <i class="material-icons prefix">contact_mail</i>
                  <input id="email" name="email" value=`` type="email" class="validate"/>
                  <label class="active" for="email">e-mail:</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s4">
                  <i class="material-icons prefix">info</i>
                  <input id="cpf" name="cpf" value=`` type="text" class="validate"/>
                  <label class="active" for="cpf">CPF (SOMENTE NÚMEROS):</label>
                </div>
                <div class="input-field col s2">
                  <i class="material-icons prefix">info_outline</i>
                  <input id="siape" name="siape" value=`` type="text" class="validate"/>
                  <label class="active" for="siape">Siape:</label>
                </div>
              </div>
              <div class="row">
                <div class="input field col s3">
                  <input id="dtNasc" name="dtNasc" value=`` type="text" class="datepicker"/>
                  <!-- <i class="material-icons prefix">date_range</i> -->
                  <label for="dtNasc">Data de Nascimento</label>
                </div>
                <div class="input-field col s2">
                  <i class="material-icons prefix">contact_phone</i>
                  <input id="telefone" name="telefone" value=`` type="text" class="validate"/>
                  <label class="active" for="telefone">Telefone:</label>
                </div>
                <div class="input-field col s2">
                  <i class="material-icons prefix">phone_iphone</i>
                  <input id="celular" name="celular" value=`` type="text" class="validate"/>
                  <label class="active" for="celular">Celular:</label>
                </div>
              </div>
              <h4>Dados Funcionais</h4>
              <div class="row">
                <div class="form-group input-field setor col s4">
                  <i class="material-icons prefix">event_seat</i>
                  <select name="setor">
                    <for|unidade| of=data.unidades>
                      <option class="form-group" value=`${unidade.unidade}`>${unidade.unidade}</option>
                    </for>
                  </select>
                  <label for="setor">Unidade/Setor:</label>
                </div>
                <div class="input-field col s3">
                  <i class="material-icons prefix">gps_fixed</i>
                  <input id="origem" name="origem" value=`` type="text" class="validate"/>
                  <label class="active" for="origem">Origem:</label>
                </div>
              </div>
              <div class="row">
                <div class="input field col s3">
                  <!-- <i class="material-icons prefix">insert_invitation</i> -->
                  <input id="dtInicio" name="dtInicio" value=`` type="text" class="datepicker"/>
                  <label for="dtInicio">Início do exercício no CARF:</label>
                </div>
                <div class="input-field col s2">
                  <i class="material-icons prefix">info</i>
                  <input id="cargo" name="cargo" value=`` type="text" class="validate"/>
                  <label class="active" for="cargo">Cargo:</label>
                </div>
                <div class="form-group input-field funcao col s4">
                  <i class="material-icons prefix">domain</i>
                  <select name="funcao">
                    <for|funcao| of=data.funcoes>
                      <option class="form-group" value=`${funcao.funcao}`>${funcao.funcao}</option>
                    </for>
                  </select>
                  <label for="funcao">Função:</label>
                </div>
                <div class="input-field col s3">
                  <i class="material-icons prefix">event_note</i>
                  <select id="exercicioCARF" name="exercicioCARF">
                    <option value=true>Sim</option>
                    <option value=false>Não</option>
                  </select>
                  <label>Pessoa em exercício no CARF?</label>
                </div>
              </div>
              <div class="card-action right-align">
                <a class="btn-cons-salva btn-floating blue waves-effect waves-light hoverable z-depth-3" type="submit" title="Salvar">
                  <i class="material-icons">save</i>
                </a>
              </div>
            </form>
          </div>
        </div>
        <div/>
      </div>
    </main>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/pessoal/cadpess.js"/>
  </body>
</html>
