<!DOCTYPE html>
<html>
<app-scripts-css/>
  <body>
    <app-header />
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align">Relação de Pessoal do CARF</h3>
        <br/>
        <div class="row">
          <div class="col s12">
            <ul class="tabs">              
              <li class="tab col s3">
                <a href="#tabColab">Colaboradores</a>
              </li>
              <li class="tab col s3">
                <a href="#tabServ">Servidores</a>
              </li>
              <li class="tab col s3">
                <a href="#tabTerc">Terceirizados</a>
              </li>
            </ul>
          </div>          
          <div id="tabColab" class="col s12">
            <div class="row">
              <div class="row">
                <div class="tabelaCol">
                  <div id="tabelaCol"/>
                </div>
              </div>
            </div>
          </div>
          <div id="tabServ" class="col s12">
            <div class="row">
              <div class="row">
                <div class="tabelaServ">
                  <div id="tabelaServ"/>
                </div>
              </div>
            </div>
          </div>
          <div id="tabTerc" class="col s12">
            <div class="row">
              <div class="row">
                <div class="tabelaTerc">
                  <div id="tabelaTerc"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
      <div id="dadosCol" class="controle">${data.col}</div>
      <div id="dadosServ" class="controle">${data.serv}</div>
      <div id="dadosTerc" class="controle">${data.terc}</div>
    </main>

    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
<app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/pessoal/pessoas.js"/>
  </body>
</html>
