<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align titulo">Relação de Pessoal do CARF</h3>
        <br/>
      <form id="formPessoas" data-conselheiros=`${data.pessoas}` name="formCons" action="/pessoal/restrito/pessoas/detalha/" method="post">
          <div class="row">
            <div class="col s12 right-align">
              <a href="#!" id="mostraColunas" title="Agrupar/Desagrupar por Turma" class="waves-effect waves-yellow hoverable z-depth-3 btn-floating blue">
                <i class="material-icons">unfold_less</i>
              </a>           
              <a href="/pessoal/restrito/pessoas/cadastra" title="Cadastrar Conselheiro" id="cadastraCons" class="hoverable z-depth-3 waves-effect waves-yellow btn-floating green">
                <i class="material-icons">add</i>
              </a>
            </div>            
          </div>
          <div id="tabelaPessoas"/>
        </form>
        </div>
    </main>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/pessoal/pessoas.js"/>
  </body>
</html>
