<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align titulo">Selecione o relatório que deseja visualizar:</h3>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row conteudoPrincipal">
          <for|dado| of=data.dados>
            <div class="card conteudoPrincipalCard ">
              <div class="card-image activator waves-effect waves-block waves-light" id=`${dado.semana}`>
                <img class="activator scaleImg" alt="Clique para informações do relatório" title="Clique para informações do relatório" src="/estatico/imagens/CSV.png"/>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4 ">
                  Relatório Extraído em ${dado.dtExtracao}<i class="material-icons right" title="Clique para informações do relatório">more_vert</i>
                </span>
                <p>${dado.total} processos distribuídos. ${dado.totalHoras} horas.</p>
                <if(dado.semana)>
                  <p>Semana: ${dado.semana}.</p>
                </if>
                <p>
                  <br/>
                  <a class="btn-floating btn-insere halfway-fab waves-effect waves-light red" title="Clique para acessar relatório" href=`/julgamento/restrito/regap-cojul/${dado.caminho}`>
                    <i class="material-icons">send</i>
                  </a>
                  <div class="controle">${dado.caminho}</div>
                </p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                  Informações do relatório:<i class="material-icons right">close</i>
                </span>
                <if(dado.semana)>
                  <p>Semana: ${dado.semana}.</p>
                </if>
                <p>Este relatório foi extraído em ${dado.dtExtracao}.</p>
                <p>Há ${dado.total} processos distribuídos. Destes, ${dado.totalCSRF} estão na Câmara Superior e ${dado.totalTOTE} nas Turmas.</p>
                <p>Na Câmara Superior há ${dado.ParaRelatarCSRF} processos para relatoria e ${dado.FormalizarCSRF} processos para formalização, perfazendo um total de ${dado.totalHorasCSRF} horas e ${dado.totalValorCSRF}.</p>
                <p>Nas Turmas há ${dado.ParaRelatarTOTE} processos para relatoria e ${dado.FormalizarTOTE} para formalização, perfazendo um total de ${dado.totalHorasTOTE} horas e ${dado.totalValorTOTE}.</p>
              </div>
            </div>
          </for>
        </div>
      </div>
    </main>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/julgamento/escolhe.js"/>
  </body>
</html>
