<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 id="inicio" class="center-align titulo">Perguntas & Respostas - COJUL</h3>
        <br/>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">textsms</i>
                <input type="text" id="autocomplete-input" class="autocomplete"/>
                <label for="autocomplete-input">Digite aqui sua pergunta</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="faq" data-faq=`${data.faq}`/>
          <h5 id="mprod" class="scrollspy center-align">Meta de Produtividade</h5>
          <ul class="collapsible popout prod"/>
          <h5 id="idregap" class=" scrollspy center-align">REGAP</h5>
          <ul class="collapsible popout regap"/>
          <h5 id="idreinp" class=" scrollspy center-align">REINP</h5>
          <ul class="collapsible popout reinp"/>
          <h5 id="idsessaovirtual" class="scrollspy center-align">Sessões Virtuais</h5>
          <ul class="collapsible  popout sessaovirtual"/>
          <h5 id="idrejul" class="scrollspy center-align">REJUL</h5>
          <ul class="collapsible popout rejul"/>
        </div>
        <div class="row">
          <p class="center">
            Caso não tenha solucionado sua dúvida,
            <a href="/julgamento/restrito/formFAQ">clique aqui</a>.
          </p>
        </div>
      </div>
      <div class="scspy2 col hide-on-small-only m3 l2 right">
        <ul class="section table-of-contents">
          <li>
            <a href="#inicio">Início</a>
          </li>
          <li>
            <a href="#mprod">Meta de Produtividade</a>
          </li>
          <li>
            <a href="#idregap">REGAP</a>
          </li>
          <li>
            <a href="#idreinp">REINP</a>
          </li>
          <li>
            <a href="#idsessaovirtual">Sessões Virtuais</a>
          </li>
          <li>
            <a href="#idrejul">REJUL</a>
          </li>
        </ul>
      </div>
    </main>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/julgamento/faq_dipaj.js"/>
  </body>
</html>
