<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align titulo">Perguntas & Respostas - DIPAJ/COJUL</h3>        
        <br/>
        <div class="row conteudoPrincipal"/>
      </div>
    </main>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/julgamento/escolhe.js"/>
  </body>
</html>
