<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 id="inicio" class="center-align titulo">Sugestão de Pergunta e Resposta</h3>
        <br/>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">textsms</i>
                <input type="text" id="autocomplete-input" class="autocomplete"/>
                <label for="autocomplete-input">Qual dúvida gostaria que fosse incluída?</label>
              </div>
            </div>
          </div>
          <div class="col s12 offset-s11">
              <a id='btnEnvia' class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">send</i></a>
          </div>
        </div>
        <div class="row">
          <div id="faq" data-faq=`${data.faq}`/>
        </div>
      </div>
    </main>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/julgamento/formFAQ.js"/>
  </body>
</html>
