<!DOCTYPE html>
<html>
<app-scripts-css/>
  <body>
    <app-header />
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <div class="row center">
          <h1>Erro 404 - NOT FOUND</h1>
          <p>Página não encontrada!</p>
          <a href="/">Voltar</a>
        </div>
      </div>
    </main>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer"/>
    </div>
    <app-footer/>
    <app-scripts-js/>
  </body>
</html>
