<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <app-calendario-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar/>
      <div class="container">       
         <div class="row">          
         
        </div>        
      </div>
    </main>
    <app-footer/>
     <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Fechar</a>        
      </div>
    </div>
    <app-scripts-js/>
    <app-calendario-js/>
  </body>
</html>
