<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">  
        <link rel="stylesheet" href="/estatico/css/libs/normalize.css" />
        <link rel="stylesheet" href="/estatico/css/libs/materialize.css" />
        <link rel="stylesheet" href="/estatico/css/libs/google-fonts.css">
        <link rel="stylesheet" href="/estatico/css/main.css" />
        <title>Registro de Não Conformidades</title>
    </head>
    <body>
		<div class="container-header cabecalho">
		    <nav class="cabecalho">
				<div class="nav-wrapper">
					<a href="" class="brand-logo">Sistema Integrado de Gestão</a>
						<ul id="nav-mobile" class="right hide-on-med-and-down">
							<li><a href="/form">Registro de Não Conformidades</a></li>
						        <li><a href="http://10.202.24.111:3005/public/dashboard/9e707956-2b3a-4f87-bbef-254e6ea90c8d">Dashboard</a></li>
						</ul>
				</div>																										                           </nav>
		</div>
	    <main class="conteudoPrincipal">
            <div class="container">
                <h3>Registro de Não Conformidades</h3>
		<br>
		<br>
                <form action="/form" method="post">
                    <if(data.registroNC._id)>
                        <div>
                            <input type="hidden" name="_method" value="PUT">
                            <input type="hidden" name="id" value=data.registroNC._id>
                        </div>
                    </if>
                    <div class="row">
                    <div class="form-group input-field  col s3">
                        <label for="titulo">Documento de referência:</label>
                        <input type="text" id="titulo" name="docRef" value=data.registroNC.ssdocRef placeholder="Opcional (ex.: n° do Processo)"
                         class="form-control"/>
                    </div> 

                    <div class="form-group input-field col s3">
                        <select required name="mpProcUser">
                          <option class="form-group" value="" disabled selected>Clique para selecionar</option>
                          <for|mp| of=data.mp>
                          <option class="form-group" value=data.registroNC.mprocUser>${mp.macroprocesso}</option>
                          </for>
                        </select>
                        <label for="mProcUser">Qual o seu macroprocesso?</label>
                    </div>

                    <div class="form-group input-field col s3">
                        <select required name="mProcOrigem">
                          <option class="form-group" value="" disabled selected>Clique para selecionar</option>
                          <for|mp| of=data.mp>
                          <option class="form-group" value=data.registroNC.mprocOrigem>${mp.macroprocesso}</option>
                          </for>
                        </select>
                        <label for="mProcOrigem">Em qual macroprocesso a NC teve origem?</label>
                    </div>            

                    <!-- <div class="form-group input-field col s3">
                        <label for="titulo">Unidade onde ocorreu a Não Conformidade</label>
                        <input required type="text" id="titulo" name="equipeNC" value=data.registroNC.equipe placeholder="(ex.: Equipe CARF/Unidade)"
                         class="form-control"/>
                    </div> -->
                     <div class="form-group input-field col s3">
                        <select name="equipeNC">
                          <option class="form-group" value="" disabled selected>Clique para selecionar</option>
                          <for|und| of=data.und>
                          <option class="form-group" value=data.und.Sigla>${und.Sigla}</option>
                          </for>
                        </select>
                        <label for="equipeNC">Unidade onde ocorreu a Não Conformidade</label>
                    </div>
                </div>

                    
                    <div class="row">
                        <div class="input-field col s6">                            
                            <i class="material-icons prefix">textsms</i>
                            <input required name ="descNC" type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">Descrição da Não Conformidade</label>
                        </div>
                        <div class="input-field col s6">                            
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name="obsParticipante" placeholder="Detalhamento maior de como ocorreu a não conformidade." id="icon_prefix2" class="materialize-textarea">${data.registroNC.obs}</textarea>
                            <label for="icon_prefix2">Comentários do participante (opcional):</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s3">
                            <p>
                                <label>Ação Imediata</label>
                            </p>
                            <p>
                                <label>
                                <input name="acaoImediata" type="radio" value="Correção" checked />
                                <span>Correção</span>
                                </label>
                            </p>                        
                            <p>
                                <label>
                                <input name="acaoImediata" type="radio" value="Encaminhada para Correção"/>
                                <span>NC encaminhada para correção</span>
                                </label>
                            </p>
                        </div>
                        <div class="input-field col s4">
                            <input type="text" id="dataNC" name="dataNC" class="datepicker">
                            <label for="dataNC">Quando ocorreu a NC?</label>
			</div>   
                            <div class="col s5 offset-s11">
                                <button class="btn-floating btn-large waves-effect waves-light green hoverable " type="submit">
                                <i class="material-icons right-align">add</i>
                                </button>
                            </div>                        
                        </div>                        
                            
                        

                    


                    
                       

                    <!-- <input type="submit" value="Salvar" class="waves-effect waves-light btn btn-primary blue"/> -->
                
                </form>
                
<!--                 <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="file-field input-field col s3">
                      <div class="btn">
                        <span>Arquivo</span>
                        <input type="file" name="file" id="file">
                      </div>
                      <div class="file-path-wrapper">
                        <input required class="file-path validate" type="text" placeholder="Deseja enviar algum arquivo?">
                      </div>
                    </div> 
                    <div class="col s1">
                        <button class="btn-floating btn-large waves-effect waves-light green hoverable " type="submit">
                            <i class="material-icons right-align">attach_file</i>
                        </button>
                    </div>     
                </div>
                </form> -->
                <!-- <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>  -->            

            </div>
        </main>
        
	<footer class="page-footer rodape">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Conteúdo</h5>
					<p class="grey-text text-lighten-4">Conteúdo futuro</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2019 Conselho Administrativo de Recursos Fiscais - CARF
				<a class="grey-text text-lighten-4 right" href="#!">..</a>
			</div>
		</div>
	</footer>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
            <h4 class="hModal">Modal Header</h4>
            <p class="pModal">A bunch of text</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancela</a>
                <a href="#!"  class="modal-close waves-effect waves-green btn-flat concorda">Confirma</a>
            </div>
        </div>

        <div id="naoconfs" class="controle">        
        <for|nconf| of=data.nconf>
         "${nconf.nconformidade}":null,
        </for>
        </div>       
        <script src="/estatico/js/jquery-3.4.1.js"></script>
        <script src="/estatico/js/materialize.js"></script>
        <script src="/estatico/js/services/HttpService.js"></script>
        <script src="/estatico/js/formcontrol.js"></script>  
        
    </body>
</html>
