<div id="popup" class="modal">
  <div class="modal-content">
    <h4 class="headerPopup">Modal Header</h4>
    <div class="conteudoPopup"/>
  </div>
  <div class="modal-footer">
    <!-- <button class="btn waves-effect waves-light concorda modal-close" type="submit" name="action">
      Fechar popup <i class="material-icons right">send</i>
    </button> -->
  </div>
</div>
