<link rel="stylesheet" href="/estatico/css/libs/calendario/main.min.css"/>
<link rel="stylesheet" href="/estatico/css/libs/calendario/timegrid/main.min.css"/>
<link rel="stylesheet" href="/estatico/css/libs/calendario/list/main.min.css"/>
<link rel="stylesheet" href="/estatico/css/libs/calendario/daygrid/main.min.css"/>