<div class="form-group input-field  col s2">
  <label>
    <input name="abaixoUM" id="abaixoUM" type="checkbox"/>
    <span>
      <a href="#oitomilhoes">Somente Abaixo de R$ 36 milhões?*</a>
    </span>
  </label>
</div>
