<script src="/estatico/js/libs/jquery-3.4.1.js"/>
<script src="/estatico/js/libs/materialize.js"/>
<script src="/estatico/js/libs/materialize.js"/>
<script src="/estatico/js/libs/tabulator.min.js"/>
<script src="/estatico/js/libs/moment.min.js"/>
<script src="/estatico/js/base/dropDown.js"/>