<script src="/estatico/js/libs/moment.min.js"/>
<script src="/estatico/js/libs/calendario/moment-timezone/main.js"/>
<script src="/estatico/js/libs/calendario/main.min.js"/>
<script src="/estatico/js/libs/calendario/pt-br.js"/>
<script src="/estatico/js/libs/calendario/interaction/main.min.js"/>
<script src="/estatico/js/libs/calendario/list/main.min.js"/>
<script src="/estatico/js/libs/calendario/daygrid/main.min.js"/>
<script src="/estatico/js/libs/calendario/luxon/luxon.js"/>
<script src="/estatico/js/libs/calendario/rrule/main.min.js"/>
<script src="/estatico/js/libs/calendario/timegrid/main.min.js"/>
<script src="/estatico/js/julgamento/calendario_view.js"/>