<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align titulo">Diagnóstico da Carga de Processos dos Conselheiros</h3>
        <br/>
        <br/>
        <form id="formGerencial" name="formGerencial" action="/julgamento/restrito/diagnostico-carga" method="post">
          <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="litab tab col s3">
                  <a href="#tabTabela">Carga dos Conselheiros</a>
                </li>
                <li class="libox tab col s3">
                  <a href="#tabBoxplot">Carga nas Seções de Julgamento</a>
                </li>
                <li class="libar tab col s3">
                  <a href="#tabBarras">Carga por Seção/Conselheiro</a>
                </li>
              </ul>
            </div>
            <div id="tabTabela" class="col s12">
              <div class="row">
                <div class="col s12 right-align">
                  <a href="#!" id="mostraColunas" title="Agrupar/Desagrupar por Turma" class="waves-effect waves-yellow hoverable z-depth-3 btn-floating blue">
                    <i class="material-icons">unfold_less</i>
                  </a>
                </div>
              </div>
              <div class="row">
                <p id="resultado"/>
                <div class="tabelaCarga">
                  <div id="tabelaCarga"/>
                </div>
                <div id="dadosCarga" class="controle">${data.relatorio}</div>
              </div>
            </div>
            <div id="tabBoxplot" class="col s12">
              <div class="row">
                <h4 class="center">Carga por Seção de Julgamento</h4>
                <h5 id="CSRF" class="section scrollspy">Câmara Superior de Recursos Fiscais</h5>
                <p>
                  <div style="width:75%;height:auto;" id="boxPlotCSRF"/>
                </p>
                <h5 id="SJ1" class="section scrollspy">1ª Seção de Julgamento</h5>
                <p>
                  <div style="width:75%;height:auto;" id="boxPlotSJ1"/>
                </p>
                <h5 id="SJ2" class="section scrollspy">2ª Seção de Julgamento</h5>
                <p>
                  <div style="width:75%;height:auto;" id="boxPlotSJ2"/>
                </p>
                <h5 id="SJ3" class="section scrollspy">3ª Seção de Julgamento</h5>
                <p>
                  <div style="width:75%;height:auto;" id="boxPlotSJ3"/>
                </p>
              </div>
            </div>
            <div id="tabBarras" class="col s12">
              <div class="row">
                <h4 class="center">Carga por Seção de Julgamento</h4>
                <h5 id="bCSRF" class="section scrollspy">Câmara Superior de Recursos Fiscais</h5>
                <p>
                  <div style="width:100%;height:1000px;" id="barrasCSRF"/>
                </p>
                <h5 id="bSJ1" class="section scrollspy">1ª Seção de Julgamento</h5>
                <p>
                  <div style="width:100%;height:1600px;" id="barrasSJ1"/>
                </p>
                <h5 id="bSJ2" class="section scrollspy">2ª Seção de Julgamento</h5>
                <p>
                  <div style="width:100%;height:1600px;" id="barrasSJ2"/>
                </p>
                <h5 id="bSJ3" class="section scrollspy">3ª Seção de Julgamento</h5>
                <p>
                  <div style="width:100%;height:1600px;" id="barrasSJ3"/>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="scspy" class="scspy col hide-on-small-only m3 l2 right">
        <ul class="section table-of-contents">
          <li>
            <a href="#CSRF">Câmara Superior de Recursos Fiscais</a>
          </li>
          <li>
            <a href="#SJ1">1ª Seção de Julgamento</a>
          </li>
          <li>
            <a href="#SJ2">2ª Seção de Julgamento</a>
          </li>
          <li>
            <a href="#SJ3">3ª Seção de Julgamento</a>
          </li>
        </ul>
      </div>
      <div id="scspy2" class="scspy col hide-on-small-only m3 l2 right">
        <ul class="section table-of-contents">
          <li>
            <a href="#bCSRF">Câmara Superior de Recursos Fiscais</a>
          </li>
          <li>
            <a href="#bSJ1">1ª Seção de Julgamento</a>
          </li>
          <li>
            <a href="#bSJ2">2ª Seção de Julgamento</a>
          </li>
          <li>
            <a href="#bSJ3">3ª Seção de Julgamento</a>
          </li>
        </ul>
      </div>
    </main>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/libs/plotly-latest.min.js"/>
    <script src="/estatico/js/libs/plotly-locale-pt-br.js"/>
    <script>Plotly.setPlotConfig({locale: 'pt-BR'})</script>
    <script src="/estatico/js/julgamento/cargacons.js"/>
  </body>
</html>
