<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/estatico/css/libs/normalize.css"/>
    <link rel="stylesheet" href="/estatico/css/libs/materialize.css"/>
    <link rel="stylesheet" href="/estatico/css/libs/google-fonts.css"/>
    <link rel="stylesheet" href="/estatico/css/main.css"/>
    <title>Sistema Integrado de Gestão</title>
  </head>
  <body>
    <header class="container-header cabecalho"/>
    <main class="conteudoPrincipal">
    <ul id="slide-out" class="sidenav"/>
      <div class="container">
        <div class="row">
          <if(data.msg)>
            <div id="toastsucesso" class="ctoastsucesso"/>
            <div id="msg" class="controle">${data.msg}</div>
          </if>
          <div class="col s6 offset-s3 center-align">
            <br/>
            <br/>
            <br/>
            <br/>
            <ul class="collapsible popout">
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">account_balance</i>Gestão do Julgamento
                </div>
                <div class="collapsible-body">
                  <ul class="collection">
                    <li class="collection-item avatar">
                      <i class="material-icons circle green">add</i>
                      <a href="/julgamento/restrito/carregacsv">
                        <span class="title">Enviar relatório do e-Processo</span>
                      </a>
                      <a href="/julgamento/restrito/carregacsv" class="secondary-content">
                        <i class="material-icons">lock</i>
                      </a>
                    </li>
                    <li class="collection-item avatar">
                      <i class="material-icons circle blue">insert_chart</i>
                      <a href="/julgamento/restrito/escolhecsv">
                        <span class="title">Diagnóstico de Estoque dos Conselheiros</span>
                      </a>
                      <a href="/julgamento/restrito/diagnostico-carga" class="secondary-content">
                        <i class="material-icons">lock</i>
                      </a>
                    </li>
                    <li class="collection-item avatar">
                      <i class="material-icons circle blue">insert_chart</i>
                      <a href="/julgamento/restrito/escolhecsvregap">
                        <span class="title">Acompanhamento de Prazos dos Conselheiros</span>
                      </a>
                      <a href="/julgamento/restrito/diagnostico-carga" class="secondary-content">
                        <i class="material-icons">lock</i>
                      </a>
                    </li>
                    <li class="collection-item avatar">
                      <i class="material-icons circle red">list</i>
                      <a href="#">
                        <span class="title">Diagnóstico do Acervo do CARF</span>
                      </a>
                      <a href="#" class="secondary-content">
                        <i class="material-icons">lock</i>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">check_circle</i>Gestão da Qualidade
                </div>
                <div class="collapsible-body">
                  <ul class="collection">
                    <li class="collection-item avatar">
                      <i class="material-icons circle green">add</i>
                      <a href="/form">
                        <span class="title">Cadastrar nova Não Conformidade</span>
                      </a>
                      <a href="/form" class="secondary-content">
                        <i class="material-icons">lock_open</i>
                      </a>
                    </li>
                    <li class="collection-item avatar">
                      <i class="material-icons circle blue">insert_chart</i>
                      <a href="http://10.202.24.111:3005/public/dashboard/9e707956-2b3a-4f87-bbef-254e6ea90c8d">
                        <span class="title">Ir para o Dashboard</span>
                      </a>
                      <a href="http://10.202.24.111:3005/public/dashboard/9e707956-2b3a-4f87-bbef-254e6ea90c8d" class="secondary-content">
                        <i class="material-icons">lock_open</i>
                      </a>
                    </li>
                    <li class="collection-item avatar">
                      <i class="material-icons circle red">list</i>
                      <a href="/listagem">
                        <span class="title">Listar Tipos de Não Conformidades</span>
                      </a>
                      <a href="/listagem" class="secondary-content">
                        <i class="material-icons">lock_open</i>
                      </a>
                    </li>
                    <li class="collection-item avatar">
                      <i class="material-icons circle purple">format_list_numbered</i>
                      <a href="/gestao/listaregistronc ">
                        <span class="title">Listar Todos os Registros de Não Conformidades</span>
                      </a>
                      <a href="/gestao/listaregistronc " class="secondary-content">
                        <i class="material-icons">lock</i>
                      </a>
                    </li>
                    <li class="collection-item avatar">
                      <i class="material-icons circle black">format_list_bulleted</i>
                      <a href=" /gestao/cadastranc">
                        <span class="title">Cadastrar Novo Tipo de Não Conformidade</span>
                      </a>
                      <a href=" /gestao/cadastranc" class="secondary-content">
                        <i class="material-icons">lock</i>
                      </a>
                    </li>
                    <li class="collection-item avatar">
                      <i class="material-icons circle grey">edit</i>
                      <a href="/gestao/lista">
                        <span class="title">Listar/Editar Tipos de Não Conformidades</span>
                      </a>
                      <a href="/gestao/lista" class="secondary-content">
                        <i class="material-icons">lock</i>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">people</i>Gestão de Pessoas
                </div>
                <div class="collapsible-body">
                 <ul class="collection">
                    <li class="collection-item avatar">
                      <i class="material-icons circle green">face</i>
                      <a href="/pessoal/restrito/pessoas">
                        <span class="title">Relação de Pessoal do CARF</span>
                      </a>
                      <a href="/pessoal/restrito/pessoas" class="secondary-content">
                        <i class="material-icons">lock</i>
                      </a>
                    </li>
                    </ul>                  
                </div>
              </li>
              <li>
                <div class="collapsible-header">
                  <i class="material-icons">trending_down</i>Gestão de Riscos
                </div>
                <div class="collapsible-body">
                 <ul class="collection">
                    <li class="collection-item avatar">
                      <i class="material-icons circle green">trending_down</i>
                      <a href="http://diris.carf">
                        <span class="title">Ambiente GRCI</span>
                      </a>
                      <a href="http://diris.carf" class="secondary-content">
                        <i class="material-icons">lock</i>
                      </a>
                    </li>
                    </ul>                  
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <footer class="page-footer rodape"/>
    <script src="/estatico/js/libs/jquery-3.4.1.js"/>
    <script src="/estatico/js/libs/materialize.js"/>
    <script src="/estatico/js/scprincipal.js"/>
    <script src="/estatico/js/loadtemplate.js"/>
    <script src="/estatico/js/base/navbar.js"/>
  </body>
</html>
