<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/estatico/css/libs/normalize.css"/>
    <link rel="stylesheet" href="/estatico/css/libs/materialize.css"/>
    <link rel="stylesheet" href="/estatico/css/libs/google-fonts.css"/>
    <link rel="stylesheet" href="/estatico/css/main.css"/>
    <title>Sistema de Gestão Integrada</title>
  </head>
  <body>
    <header class="container-header cabecalho"/>
    <main class="conteudoPrincipal">
      <ul id="slide-out" class="sidenav"/>
      <div class="container  valign-wrapper">
        <div class="row center-align">
        <if(data.msg)>
            <div id="toastsucesso" class="ctoastsucesso"/>
            <div id="msg" class="controle">${data.msg}</div>
          </if>
          <div id="divImage" class="">
            <img src="/estatico/imagens/CARF_logo.png"/>
          </div>
        </div>      
      </div>
    </main>
    <footer class="page-footer rodape"/>
    <script src="/estatico/js/libs/jquery-3.4.1.js"/>
    <script src="/estatico/js/libs/materialize.js"/>
    <script src="/estatico/js/scprincipal.js"/>
    <script src="/estatico/js/loadtemplate.js"/>
    <script src="/estatico/js/base/navbar.js"/>
  </body>
</html>
