<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/estatico/css/libs/normalize.css"/>
    <link rel="stylesheet" href="/estatico/css/libs/materialize.css"/>
    <link rel="stylesheet" href="/estatico/css/libs/google-fonts.css"/>
    <link rel="stylesheet" href="/estatico/css/main.css"/>
    <title>Adicionar Usuário</title>
  </head>
  <body>
    <header class="container-header cabecalho"/>
    <main class="conteudoPrincipal">
      <div class="container">
        <h3 class="center-align">Adicionar Usuário</h3>
        <br/>
        <br/>
        <form id="formUser" name="formUser" action="/admin/usuario" method="post">
          <if(data.registroUser._id)>
            <div>
              <input type="hidden" name="_method" value="PUT"/>
              <input type="hidden" name="id" value=data.registroUser._id/>
            </div>
          </if>
          <div class="row">
            <div class="form-group input-field cpfUser col s2">
              <label for="cpfUser">CPF do Usuário:</label>
              <input required type="text" id="cpfUser" name="cpf" value=data.registroUser.cpfUser placeholder="Digite seu CPF" class="form-control cpfuser"/>
            </div>
            <div class="form-group input-field  col s8">
              <label for="nomeUser">Nome do Usuário:</label>
              <input type="text" id="nomeUser" name="nome" value=data.registroUser.nomeUser placeholder="Nome completo" class="form-control"/>
            </div>
          </div>
          <div class="row">
            <div class="form-group input-field  col s4">
              <label for="mailUser">Endereço e-mail do Usuário:</label>
              <input type="text" id="mailUser" name="mail" value=data.registroUser.mailUser placeholder="Endereço de e-mail no formato XXX.XXX@carf.economia.gov.br" class="form-control docref"/>
            </div>
            <div class="form-group input-field equipeNC col s4">
              <select name="unidadeLotacao">
                <option class="form-group" value="" disabled selected>Clique para selecionar</option>
                <for|und| of=data.und>
                  <option class="form-group" value=data.registroUser.Sigla>${und.Sigla}</option>
                </for>
              </select>
              <label for="unidadeLotacao">Qual a unidade de lotação do usuário?</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group input-field perfis col s4">
              <label for="cargoUser">Cargo do Usuário:</label>
              <input type="text" id="cargoUser" name="cargo" value=data.registroUser.cargoUser placeholder="Cargo do Usuário" class="form-control"/>
            </div>
            <div class="form-group input-field perfis col s4">
              <select name="perfilUser">
                <option class="form-group" value="" disabled selected>Clique para selecionar</option>
                <for|perfil| of=data.prf>
                  <option class="form-group" value=data.registroUser.perfil>${perfil.perfil}</option>
                </for>
              </select>
              <label for="perfilUser">Qual o perfil do usuário?</label>
            </div>
            <div class="col s5 offset-s9">
              <a id="aModal" class="btn-floating btn-large waves-effect waves-light green hoverable btn-insere" href="#modal1">
                <i class="material-icons">note_add</i>
              </a>
            </div>
          </div>          
        </form>
      </div>
    </main>
    <footer class="page-footer rodape"/>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <script src="/estatico/js/libs/jquery-3.4.1.js"/>
    <script src="/estatico/js/libs/materialize.js"/>
    <script src="/estatico/js/loadtemplate.js"/>
    <script src="/estatico/js/services/HttpService.js"/>
    <script src="/estatico/js/validaUser.js"/>
    <script src="/estatico/js/formcontrolUser.js"/>
  </body>
</html>
