<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align titulo">Gestão da Indicação para Pauta</h3>
        <br/>
        <div class="row conteudoPrincipal"/>
        <div class="row">
          <a class="waves-effect waves-light btn btn-cria" href=`/suporte/restrito/cria-indicacao`>
            <i class="material-icons right ">cloud</i>Criar Período de Indicação para Pauta
          </a>
        </div>
        <br/>
        <div class="row">
          <h4>Gerenciar períodos de Indicação para Pauta</h4>
        </div>
        <div class="row">
          <div class="col s12 right-align">
            <app-drop-download/>
          </div>
        </div>
        <div class="row">
          <div id="cardsColegiados"/>
        </div>
      </div>
    </main>
    <app-footer/>
    <app-modal/>
    <app-scripts-js/>
    <script src="/estatico/js/julgamento/cosup/gestaoIndicacao.js"/>
  </body>
</html>
