<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <div class="row">
          <if(data.msg)>
            <div class=`col s4 offset-s4 center-align ${data.msg.cor}`>
              <h6>
                <i class="material-icons prefix">${data.msg.alert}</i>${data.msg.text}
              </h6>
            </div>
          </if>
          <br/>
          <br/>
          <br/>
          <br/>
          <div class="col s6 offset-s3 center-align">
            <div class="card">
              <br/>
              <h4 class="center-align titulo">Login</h4>
              <div class="card-content">
                <form action="/login" method="post">
                  <div class="form-group input-field cpf">
                    <i class="material-icons prefix">account_circle</i>
                    <label for="cpf">CPF:</label>
                    <input type="text" required autocomplete="username" id="cpf" name="cpf" value=data.id placeholder="Digite seu CPF." class="form-control tooltipped" data-position="bottom" data-tooltip="Somente números."/>
                  </div>
                  <div class="form-group input-field pwd">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" required autocomplete="current-password" id="pwd" name="pwd" value=data.pwd placeholder="Digite sua senha." class="form-control"/>
                  </div>
                  <div class="form-group">
                    <a id="aModal" href="#modal1" class="waves-effect waves-light btn-ligaModal btn-small red lighten-3">
                      <i class="material-icons left">error</i>1º Acesso / Esqueci a senha
                    </a>
                    <button class="btn-small waves-effect waves-light concorda green right" type="submit" name="action">
                      Efetuar login <i class="material-icons left">send</i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer"/>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/base/login.js"/>
  </body>
</html>
