<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/estatico/css/libs/normalize.css"/>
    <link rel="stylesheet" href="/estatico/css/libs/materialize.css"/>
    <link rel="stylesheet" href="/estatico/css/libs/google-fonts.css"/>
    <link rel="stylesheet" href="/estatico/css/main.css"/>
    <title>Sistema Integrado de Gestão</title>
  </head>
  <body>
    <header class="container-header cabecalho"/>
    <main class="conteudoPrincipal">
      <div class="container">
        <h3 class="center-align">Autenticação de Usuário</h3>
        <div class="row">
          <if(data.msg)>
            <div class="login_error col s4 offset-s4 center-align">            
            <h6><i class="material-icons prefix">error</i>${data.msg}</h6>
            </div>
          </if>
          <div class="col s6 offset-s3 center-align">
            <form action="/login" method="post">
              <div class="form-group input-field cpf">
                <i class="material-icons prefix">account_circle</i>
                <label for="cpf">CPF:</label>
                <input type="text" autocomplete="username" id="cpf" name="cpf" value=data.id placeholder="Digite seu CPF." class="form-control tooltipped" data-position="bottom" data-tooltip="Somente números."/>
              </div>
              <div class="form-group input-field pwd">
                <i class="material-icons prefix">lock</i>
                <input type="password" autocomplete="current-password" id="pwd" name="pwd" value=data.pwd placeholder="Digite sua senha." class="form-control"/>
              </div>
              <div class="form-group">
                <button class="btn waves-effect waves-light concorda right" type="submit" name="action">
                  Efetuar login <i class="material-icons right">send</i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer class="page-footer rodape"/>
    <script src="/estatico/js/libs/jquery-3.4.1.js"/>
    <script src="/estatico/js/libs/materialize.js"/>
    <script src="/estatico/js/loadtemplate.js"/>
  </body>
</html>
