<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <div class="row">
          <h3 class="center-align titulo">Registro de Não Conformidades</h3>
          <div class="col s3 offset-s9">
            <a href="#!" id="mostraColunas" class="waves-effect waves-green btn-flat blue ">Mostrar colunas ocultas</a>
          </div>
          <form data-nc=`${data.registroNC}`/>
          <div id="tabelaNC"/>
        </div>
      </div>
    </main>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal">A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancela</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat concorda">Confirma</a>
      </div>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/nc/listaregistronc.js"/>
  </body>
</html>
