<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar/>
      <div class="container">
        <h3 class="center-align titulo">Portal da COSUP</h3>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">textsms</i>
            <input type="text" id="autocomplete-input" class="autocomplete"/>
            <label for="autocomplete-input">Do que você precisa?</label>
          </div>
        </div>
        <div id="portal" data-portal=`${data.portal}`/>
        <div class="row">
          <div class="row conteudoPrincipal">
            <div class="col s6 m6 divManuais">
              <div class="card-panel  green lighten-1">
                <span class="white-text">
                  <h4 class="center white-text">Gestão</h4>
                </span>
              </div>
            </div>
            <div class="row"/>
            <div class="row"/>
            <div class="col s6 m6 divRecursos">
              <div class="card-panel light-blue darken-3">
                <span class="white-text">
                  <h4 class="center white-text">Ferramentas</h4>
                </span>
              </div>
            </div>
            <div class="row"/>
          </div>
          <div class="row">
            <div class="col s6">
              <ul class="collapsible relatorios"/>
            </div>
            <div class="col s6">
              <ul class="collapsible recursos"/>
            </div>
          </div>
        </div>
      </div>
    </main>
    <app-footer/>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Fechar</a>
      </div>
    </div>
    <app-scripts-js/>
    <script src="/estatico/js/julgamento/cosup/portalCosup.js"/>
  </body>
</html>
