<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div class="container">
        <h3 class="center-align titulo">Relatório de Indicação para Pauta - REINP</h3>
        <br/>
        <div class="row">
          <div id="anosReinp"/>
        </div>
        <div class="progressReinp col s3">
          <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"/>
              </div>
              <div class="gap-patch">
                <div class="circle"/>
              </div>
              <div class="circle-clipper right">
                <div class="circle"/>
              </div>
            </div>
          </div>
        </div>
        <form id="formReinp" data-users=`${data.users}` name="formGerencial" action="" method="post">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3">
                <a href="#processos">Processos</a>
              </li>
              <li class="tab col s3">
                <a href="#stats">Estatísticas</a>
              </li>
            </ul>
          </div>
          <div id="processos" class="col s12">
            <br/>
            <div id="idProdutividade" class="row classProdutividade">
              <div class="col s12 right-align">
                <app-drop-download/>
                <a href="#!" id="mostraColunas" title="Agrupar/Desagrupar por Mês" class="waves-effect waves-yellow hoverable z-depth-3 btn-floating blue">
                  <i class="material-icons">unfold_less</i>
                </a>
              </div>
              <div id="reinpData" data-reinp=`${data.reinp}`/>
            </div>
            <div class="row">
              <div id="tabelaReinp"/>
            </div>
          </div>
          <div id="stats" class="col s12">
            <div class="row">
              <div class="col s7">
                <div id="barrasReinpMensal"/>
              </div>
              <div class="col s5">
                <div id="barrasReinpTrimestral"/>
              </div>
            </div>
            <div class="row">
              <p>
                <strong>Atenção!</strong> O somatório de horas indicadas acima não leva em consideração as horas dos processos em lotes de repetitivos.
                Sendo assim, qualquer divergência encontrada entre estes números e os constantes dos Dados Abertos do CARF é normal e esperada,
                visto que lá são considerados todos os processos.
              </p>
            </div>
          </div>
        </form>
      </div>
    </main>
    <footer class="page-footer rodape"/>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/libs/plotly-latest.min.js"/>
    <script src="/estatico/js/libs/plotly-locale-pt-br.js"/>
    <script>Plotly.setPlotConfig({locale: 'pt-BR'})</script>
    <script src="/estatico/js/presidente/helpers/reinpHelper.js"/>
    <script src="/estatico/js/presidente/reinp_geral.js"/>
  </body>
</html>
