<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div id="caixa" class="container">
        <div id="dataCAL" data-cal=`${data.cal}`/>
        <h3 class="center-align titulo">Gestão de Indicações de Processos para Pauta de Julgamento</h3>
        <br/>
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li id="processosTab" class="tab col s3">
                <a href="#processos">Escolher Processos</a>
              </li>
              <li id="aptidaoTab" class="tab col s3 disabled">
                <a href="#aptidao">Verificar Aptidão</a>
              </li>
              <li id="confirmacaoTab" class="tab col s3 disabled">
                <a href="#confirmacao">Confirmar Indicação</a>
              </li>
            </ul>
          </div>
          <div id="processos" class="col s12">
            <br/>
            <div class="row">
              <div class="col s6 offset-s3">
                <span>
                  Para indicar processos para pauta, clique no ícone <i class="fas fa-check-square'"/>. Ao terminar suas indicações, clique no botão abaixo:
                </span>
                <a id="botaoIndica" class="waves-effect waves-light btn-large">
                  <i class="fas fa-arrow-alt-circle-right right"/>Proceder para Verificação de Aptidão para Julgamento
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col s12 right-align">
                <app-drop-download/>
                <a href="#modal2" id="mostraLegenda" title="Mostrar Legenda da Tabela" class="waves-effect waves-purple hoverable z-depth-3 btn-floating black">
                  <i class="material-icons">details</i>
                </a>
              </div>
            </div>
            <div id="tabelaIndicacao" data-indicacao=`${data.relatorio}`/>
          </div>
          <div id="aptidao" class="col s12">
            <h4 class="center">Verificar Aptidão para Julgamento em Sessão Virtual</h4>
            <div class="row">
              <div id="tabelaAptidao"/>
            </div>
          </div>
          <div id="confirmacao" class="col s12">
            <h4 class="center">Confirmar Indicação para Pauta</h4>
            <div class="row">
              <div id="tabelaConfirmacao"/>
            </div>
          </div>
        </div>
        <p>
          <div class="col s12 m12">
            <div class="card hoverable cardVermelho">
              <div class="card-content">
                <span class="card-title center">ATENÇÃO</span>
                <a id="oitomilhoes"/>* O campo "Valor Originário" é extraído diretamente do e-Processo e não leva em consideração outros fatores que possam alterar o valor a ser considerado no momento da indicação para pauta. Dessa forma, para casos concretos, deverão ser somadas a esse valor outras informações, nos termos das
                <strong>orientações para indicação de pauta</strong>.
              </div>
            </div>
          </div>
        </p>
      </div>
    </main>
    <footer class="page-footer rodape"/>
    <app-modal-tabela-legenda/>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/libs/plotly-latest.min.js"/>
    <script src="/estatico/js/libs/plotly-locale-pt-br.js"/>
    <script>Plotly.setPlotConfig({locale: 'pt-BR'})</script>
    <script src="/estatico/js/julgamento/helpers/configTabelaNovoRegap.js"/>
    <script src="/estatico/js/julgamento/conselheiros/indicacao.js"/>
  </body>
</html>
