<!DOCTYPE html>
<html>
  <app-scripts-css/>
  <body>
    <app-header/>
    <main class="conteudoPrincipal">
      <app-navbar id="slide-out" class="sidenav"/>
      <div id="caixa" class="container">
        <h3 class="center-align titulo">Relatório Gerencial de Acompanhamento de Prazos</h3>
        <br/>
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3">
              <a href="#processos">Processos</a>
            </li>
            <li class="tab col s3">
              <a href="#stats">Estatísticas</a>
            </li>
            <li class="tab col s3">
              <a href="#apes749">Apuração Especial nº 749</a>
            </li>
          </ul>
        </div>
        <div id="processos" class="col s12">
          <br/>
          <div class="row">
            <div class="form-group input-field  col s3">
              <select class="dataRelRegap" name="dataRelRegap" id="dataRelRegap">
                <option id="optionsRegap" class="form-group" value=`` disabled selected>Clique para selecionar</option>
              </select>
              <label>Selecione a data do relatório:</label>
            </div>
            <div class="form-group input-field  col s3">
              <select class="semanaRelRegap" name="semanaRelRegap" id="semanaRelRegap">
                <option id="semanaTodas" class="form-group" value=`Todas` selected>Todas</option>
                <option id="semanaVerde" class="form-group" value=`Verde`>Verde</option>
                <option id="semanaAmarela" class="form-group" value=`Amarela`>Amarela</option>
                <option id="semanaAzul" class="form-group" value=`Azul`>Azul</option>
              </select>
              <label>Selecione a Semana:</label>
            </div>
            <div class="form-group col s1">
              <a href="#!" id="consultaRegap" title="Consultar Relatório" class="waves-effect waves-green hoverable z-depth-3 btn-floating blue">
                <i class="far fa-arrow-alt-circle-right"/>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="form-group input-field  col s3">
              <select class="Atividade" name="atividadeSelect" id="atividadeSelect">
                <option class="form-group" value="Todas" selected>Todas</option>
                <option class="form-group" value="Para Relatar">Para Relatar</option>
                <option class="form-group" value="Formalizar Decisao">Formalizar Decisão</option>
                <option class="form-group" value="Formalizar Voto Vencedor">Formalizar Voto Vencedor</option>
                <option class="form-group" value="Corrigir Decisão">Corrigir Decisão</option>
                <option class="form-group" value="Apreciar e Assinar Documento">Apreciar e Assinar Documento</option>
              </select>
              <label>Selecione a atividade para filtrar:</label>
            </div>
            <div class="row">
              <div class="form-group input-field  col s2">
                <label>
                  <input name="apes749Check" id="apes749Check" type="checkbox"/>
                  <span>Somente APES749</span>
                </label>
              </div>
              <div class="form-group input-field  col s2">
                <label>
                  <input name="repetitivosCheck" id="repetitivosCheck" type="checkbox"/>
                  <span>Ocultar Repetitivos</span>
                </label>
              </div>
              <div class="form-group input-field  col s2">
                <label>
                  <input name="aguardandoPauta" id="aguardandoPauta" type="checkbox"/>
                  <span>Somente "Aguardando Pauta"?</span>
                </label>
              </div>
              <app-valor-maximo/>
              <div class="form-group input-field  col s2">
                <label>
                  <input name="juntadaCheck" id="juntadaCheck" type="checkbox"/>
                  <span>Solicitação de Juntada Pendente?</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12 right-align">
              <app-drop-download/>
              <a href="#!" id="mostraColunasAtividade" title="Agrupar/Desagrupar por Atividade" class="waves-effect waves-green hoverable z-depth-3 btn-floating blue">
                <i class="material-icons">unfold_less</i>
              </a>
              <a href="#!" id="mostraColunasTurma" title="Agrupar/Desagrupar por Turma/Câmara/Seção" class="waves-effect waves-yellow hoverable z-depth-3 btn-floating orange">
                <i class="material-icons">unfold_more</i>
              </a>
              <a href="#modal2" id="mostraLegenda" title="Mostrar Legenda da Tabela" class="waves-effect waves-purple hoverable z-depth-3 btn-floating black">
                <i class="material-icons">details</i>
              </a>
            </div>
          </div>
          <div class="progressRegap col s3">
            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"/>
                </div>
                <div class="gap-patch">
                  <div class="circle"/>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"/>
                </div>
              </div>
            </div>
          </div>
          <div id="tabelaRegap"/>
        </div>
        <div id="stats" class="col s12">
          <h4>Estoque por faixa de valor:</h4>
          <div class="row">
            <div class="col s12 right-align">
              <div class="input-field col s3">
                <input id="minimo" min="" max="" step=1 type="number" class="validate"/>
                <label for="minimo">Valor Mínimo (em milhões de R$)</label>
              </div>
              <div class="input-field col s3">
                <input id="maximo" type="number" min="" max="" step=1 class="validate"/>
                <label for="maximo">Valor Máximo (em milhões de R$)</label>
              </div>
              <div class="col s1">
                <a id="btnFiltro" class="waves-effect waves-light btn">Filtrar</a>
              </div>
              <a href="#!" id="agrupaSecao" title="Agrupar/Desagrupar por Seção" class="waves-effect waves-red hoverable z-depth-3 btn-floating orange">
                <i class="material-icons">unfold_more</i>
              </a>
            </div>
          </div>
          <p>
            <div id="tabelaFaixaValor"/>
          </p>
          <h4>Quantidade de processos por atividade:</h4>
          <p>
            <div style="width:100%;auto;" id="barrasAtividade"/>
          </p>
        </div>
        <div id="apes749" class="col s12">
          <h4 id="gerApes749" class="center">Gerencial Apuração Especial 749</h4>
          <div class="row">
            <div class="row">
              <div class="col s12 right-align">
                <a href="#!" id="mostraColunasAtividadeApes" title="Agrupar/Desagrupar por Atividade" class="waves-effect waves-green hoverable z-depth-3 btn-floating blue">
                  <i class="material-icons">unfold_less</i>
                </a>
                <a href="#!" id="mostraColunasTurmaApes" title="Agrupar/Desagrupar por Colegiado" class="waves-effect waves-yellow hoverable z-depth-3 btn-floating orange">
                  <i class="material-icons">unfold_more</i>
                </a>
                <a href="#!" id="xlsxDownApes" title="Download da Tabela" class="waves-effect waves-yellow hoverable z-depth-3 btn-floating red">
                  <i class="material-icons">file_download</i>
                </a>
              </div>
            </div>
            <p>
              <div id="tabelaApes"/>
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer class="page-footer rodape"/>
    <app-modal-tabela-legenda/>
    <!--Modal Structure-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="hModal">Modal Header</h4>
        <p class="pModal"/>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat cancela">Cancela</a>
        <button class="btn waves-effect waves-light concorda" type="submit" name="action">
          Confirma <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <app-footer/>
    <app-scripts-js/>
    <script src="/estatico/js/libs/plotly-latest.min.js"/>
    <script src="/estatico/js/libs/plotly-locale-pt-br.js"/>
    <script>Plotly.setPlotConfig({locale: 'pt-BR'})</script>
    <script src="/estatico/js/julgamento/helpers/configTabelaNovoRegap.js"/>
    <script src="/estatico/js/julgamento/regap-consolidado.js"/>
  </body>
</html>
